/* You can add global styles to this file, and also import other style files */
@import "style/css/dashboard.css";

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  border: 1px solid #ccc;
  border-bottom: 3px solid #467fcf;
}

#output-console{
  max-height: 200px;
  height:200px;
  overflow-y: scroll;
}
#console {
  line-height:1.375;
  white-space:pre-wrap;
  padding:1em;
}
